<div class="register-container">
	<mat-card class="register-card">
		<mat-card-content>
			<h1 style="text-align: center">ডোনার রেজিস্ট্রেশন ফর্ম</h1>
			<form [formGroup]="donorRegistrationForm">
				<div class="register-inputs">
					<mat-form-field
						class="input"
						appearance="outline"
					>
						<mat-label>ডোনারের নাম</mat-label>
						<input
							matInput
							placeholder="ডোনারের নাম"
							formControlName="name"
						/>
					</mat-form-field>

					<mat-form-field
						class="input"
						appearance="outline"
					>
						<mat-label>ঠিকানা</mat-label>
						<input
							matInput
							placeholder="ঠিকানা"
							formControlName="address"
						/>
					</mat-form-field>

					<mat-form-field
						class="input"
						appearance="outline"
					>
						<mat-label>ব্লাড গ্রুপ</mat-label>
						<mat-select formControlName="bloodGroup">
							<mat-option
								*ngFor="let bg of bloodGroups"
								[value]="bg"
								>{{ bg }}</mat-option
							>
						</mat-select>
					</mat-form-field>

					<mat-form-field
						class="input"
						appearance="outline"
					>
						<mat-label>মোবাইল নাম্বার</mat-label>
						<input
							matInput
							placeholder="Mobile Number"
							formControlName="mobileNumber"
						/>
					</mat-form-field>

					<mat-form-field
						color="accent"
						appearance="outline"
					>
						<div
							style="
								display: flex;
								justify-content: space-between;
								align-items: center;
							"
						>
							<input
								placeholder="সর্বশেষ ডোনেশন ডেট"
								matInput
								[matDatepicker]="picker1"
								[max]="today"
								formControlName="lastDonationDate"
							/>
							<mat-datepicker-toggle
								matIconSuffix
								[for]="picker1"
							></mat-datepicker-toggle>
						</div>
						<mat-datepicker #picker1></mat-datepicker>
					</mat-form-field>

					<mat-form-field
						class="input"
						appearance="outline"
					>
						<mat-label>ডোনেট সংখ্যা</mat-label>
						<input
							matInput
							type="number"
							placeholder="ডোনেট সংখ্যা"
							formControlName="totalNumberOfDonation"
						/>
					</mat-form-field>

					<input
						type="file"
						formControlName="profilePhoto"
					/>

					<input
						upload-photo
						style="display: none"
						#dpInput
						type="file"
						formControlName="profilePhoto"
					/>

					<!-- <div
						class="upload-photo"
						(click)="dpInput.click()"
						
					>
						<mat-icon>cloud</mat-icon>
						<p>Upload Photo</p>
					</div> -->

					<button
						color="warn"
						mat-raised-button
						(click)="onSubmit()"
					>
						সাবমিট
					</button>
				</div>
			</form>
		</mat-card-content>
	</mat-card>
</div>
