.donor-filters {
    width: 100%;
    display: flex;
}

table {
	width: 100%;
}

.mat-form-field {
    width: 100%;
    padding: 10px;
}

.reset-section {
    display: flex;
}


.reset-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}