// Custom Theming for Angular Material
@use "@angular/material" as mat;
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss

$mat-arc-primary: (
  50: #e5f2fa,
  100: #bfdef3,
  200: #94c8eb,
  300: #69b2e2,
  400: #49a2dc,
  500: #2196F3,
  600: #2489d1,
  700: #1f7ecc,
  800: #1974c6,
  900: #0f62bc,
  A100: #eaf3ff,
  A200: #b7d6ff,
  A400: #84baff,
  A700: #6aacff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$mat-arc-accent: (
  50: #ffffff,
  100: #fafafa,
  200: #f5f5f5,
  300: #f0f0f0,
  400: #dedede,
  500: #c2c2c2,
  600: #979797,
  700: #818181,
  800: #606060,
  900: #3c3c3c,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-arc-warn: (
  50: #f6e0e4,
  100: #e7b3bc,
  200: #d88090,
  300: #c84d63,
  400: #bc2641,
  500: #b00020,
  600: #a9001c,
  700: #a00018,
  800: #970013,
  900: #87000b,
  A100: #ffb3b6,
  A200: #ff8085,
  A400: #ff4d53,
  A700: #ff343b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

// Defining Light Themms Color Palate

$KakonLight-primary: mat.define-palette($mat-arc-primary);
$KakonLight-accent: mat.define-palette($mat-arc-accent, 600, 400, 700);
$KakonLight-warn: mat.define-palette(mat.$red-palette);

// Defining Dark Theme Color Palates

$KakonDark-primary: mat.define-palette(mat.$deep-purple-palette);
$KakonDark-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);
$KakonDark-warn: mat.define-palette(mat.$red-palette);

// Creating the theme.

$KakonLight-theme: mat.define-light-theme(
  (
    color: (
      primary: $KakonLight-primary,
      accent: $KakonLight-accent,
      warn: $KakonLight-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Making Custom Dark theme

$KakonDark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $KakonDark-primary,
      accent: $KakonDark-accent,
      warn: $KakonDark-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($KakonLight-theme);

.darkMode {
  @include mat.all-component-themes($KakonDark-theme);
}
