<nav class="mobile-nav-bar beautiful">
  <button mat-icon-button routerLink="/home" routerLinkActive="active">
    <mat-icon>home</mat-icon>
    <span>হোম</span>
  </button>
  <button mat-icon-button routerLink="/donor-list" routerLinkActive="active">
    <mat-icon>people</mat-icon>
    <span>ডোনার</span>
  </button>
  <button mat-icon-button routerLink="/emergency" routerLinkActive="active">
    <mat-icon>emergency</mat-icon>
    <span>জরুরি</span>
  </button>
  <button mat-icon-button routerLink="/dashboard" routerLinkActive="active">
    <mat-icon>person</mat-icon>
    <span>প্রোফাইল</span>
  </button>
</nav>
