.module-list {
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-gap: 16px;
	grid-auto-flow: dense;
	background: #f6f6f6;
	padding: 40px;
}

.module {
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	cursor: pointer;

	&:hover {
		background: rgb(243, 134, 115);
		transition: 0.5s ease;
		color: white;
	}
}
