<div class="sign-in-container">
    <div class="left">
      <div class="welcome">
        <h1 class="welcome-text">Welcome to My Brand</h1>
        <p class="welcome-msg">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi quo
          ad adipisci repudiandae beatae aspernatur
        </p>
      </div>
    </div>
    <div class="right">
      <div class="logo">My brand</div>
      <p class="login-text">Become a member</p>
  
      <form action="" class="login-form">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" />
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" />
        </mat-form-field>
  
        <button>Submit</button>
      </form>
  
      <a href="" class="already-msg">Already a member? <span class="click-here">Click here</span> to Login</a>
      <!-- <button routerLink="/login">Login</button> -->
    </div>
  </div>
  